<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="dbx" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='E:\UOVT\UVT lectures\Semester 3\Visual Programming 2\Practical\Week 05\Sri Lanka Road And Traffic Rules\Sri Lanka Road And Traffic Rules\Rules.mdf';Integrated Security=True"/>
  </connectionStrings>
</configuration>